{% extends 'base_dashboard_receptionist.html' %} {% load static%}{% block page%}
{% include 'main/messages.html' %}
<h1>Requests Manager</h1>
<table class="table">
  <thead>
    <tr>
      <th>Patient Requesting</th>
      <th>Doctor Requested</th>
      <th>Date</th>
      <th>Hour</th>
      <th>Manage</th>
    </tr>
  </thead>
  <tbody>
    {% for appointment in appointments %}

    <tr>
      <td>{{appointment.patient}}</td>
      <td>{{appointment.doctor}}</td>
      <td>{{appointment.date}}</td>
      <td>{{appointment.time}}</td>

      <td style="text-align: left; vertical-align: middle">
        <form action="{% url 'main:appointment_detail' appointment.id %}">
          <button type="submit" class="back">View Detail</button>
        </form>
      </td>
    </tr>
    {% empty %}
    <span style="margin-left: 20px; font-weight: bold"
      >You Have No Requests</span
    >
    {% endfor %}
  </tbody>
</table>
<div class="pagination">
  <span class="step-links">
    {% if appointments.has_previous %}
    <!-- <a href="?page=1">first</a> -->
    <a href="?page={{ appointments.previous_page_number }}">&laquo; previous</a>
    {% endif %}

    <span class="current">
      Page {{ appointments.number }} of {{ appointments.paginator.num_pages }}.
    </span>

    {% if appointments.has_next %}
    <!-- <a href="?page={{ appointments.paginator.num_pages }}">last</a> -->
    <a href="?page={{ appointments.next_page_number }}">next &raquo;</a>

    {% endif %}
  </span>
</div>
{%endblock%}
