{% extends 'base_dashboard_doctor.html' %} {% block page%}

<div class="main-top">
  <br />
  <form
    method="get"
    action="{% url 'main:search' %}"
    class="search"
    id="search-bar"
  >
    <tr>
      <td><p></p></td>

      <div class="search-box">
        <button class="btn-search">
          <i class="fas fa-search" id="piko"></i>
        </button>
        <input
          type="search"
          class="search__input"
          placeholder="Type to Search..."
          name="q"
        />
      </div>
    </tr>
  </form>
</div>
<!---------------------------------------------------------------------------------------------------------->

<!--=============== MAIN JS ===============-->
<script>
  const toggleSearch = (search, button) => {
    const searchBar = document.getElementById(search),
      searchButton = document.getElementById(button);

    searchButton.addEventListener("click", () => {
      searchBar.classList.toggle("show-search");
    });
  };
  toggleSearch("search-bar", "search-button");
</script>
<!--------------------------------------------------->
<section class="attendance">
  <div class="attendance-list">
    <h1>My Patients</h1>
    <table class="table">
      <thead>
        <tr>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Details</th>
          <th>Create Report</th>
        </tr>
      </thead>
      <tbody>
        {% for patient in patients %}

        <tr>
          <td>{{patient.firstName}}</td>
          <td>{{patient.lastName}}</td>
          <td style="text-align: left; vertical-align: middle">
            <form action="{% url 'main:detail' patient.id %}">
              <button type="submit" class="back">View Detail</button>
            </form>
          </td>
          <td style="text-align: left; vertical-align: middle">
            <form
              action="{% url 'main:create_repport' patient_id=patient.id %}"
              method="get"
            >
              <button type="submit" class="back">Create New</button>
            </form>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <div class="pagination">
      <span class="step-links">
        {% if patients.has_previous %}
        <!-- <a href="?page=1">first</a> -->
        <a href="?page={{ patients.previous_page_number }}">&laquo; previous</a>
        {% endif %}

        <span class="current">
          Page {{ patients.number }} of {{ patients.paginator.num_pages }}.
        </span>

        {% if patients.has_next %}
        <!-- <a href="?page={{ appointments.paginator.num_pages }}">last</a> -->
        <a href="?page={{ patients.next_page_number }}">next &raquo;</a>

        {% endif %}
      </span>
    </div>
  </div>
</section>

{% endblock%}
